## Tuple

In [72]:
t = () # tuple defines with paranthisis
t

()

In [73]:
type(t)

tuple

In [74]:
t1 = (10, 20, 30)
t1

(10, 20, 30)

In [75]:
t1.append(20)

AttributeError: 'tuple' object has no attribute 'append'

In [85]:
sbi = ('alex', 123456789, 'cizp567', 465)
sbi

('alex', 123456789, 'cizp567', 465)

In [86]:
sbi[1]

123456789

In [87]:
sbi[1] = 20

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple immutable.

In [88]:
t1

(10, 20, 30)

In [89]:
t1.count(10)

1

In [90]:
t1.count(20)

1

In [91]:
for i in t1:
    print(i)

10
20
30

In [92]:
for i in enumerate(t1):
    print(i)

(0, 10)
(1, 20)
(2, 30)

In [93]:
t1

(10, 20, 30)

In [94]:
t2 = t1 * 3
t2

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [95]:
t2.count(10)

3

In [96]:
t2[2:6]

(30, 10, 20, 30)

In [97]:
t2(2:6) # slicing should work with []

SyntaxError: invalid syntax (768024517.py, line 1)

In [98]:
t2.remove(20)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
del t2
t2

## Tuple Practice

In [99]:
tup1 = () # Empty tuple

In [100]:
tup2 = (10, 20, 30) # Tule of integer numbers
tup2

(10, 20, 30)

In [101]:
tup3 = (10.77, 30.66, 60.89) # tuple of floats
tup3

(10.77, 30.66, 60.89)

In [102]:
tup4 = ('one', 'two', 'three') # tuple of strings

In [103]:
tup5 = ('pavan', 33, (50, 100), (150, 90)) # Nested tuples

In [104]:
tup6 = (100, 'pavan', 17.765) # tuple of mixed data types

In [105]:
tup7 = ('pavan', 25, [50, 100], [150, 90], {'John', 'David'}, (99,22,33))

In [106]:
len(tup7)

6

## Tuple Indexing

In [107]:
tup2[0] # Retrive first element from the tuple tup2

10

In [108]:
tup4[0] # Reterving first element from the tuple tup4

'one'

In [109]:
tup4[0][0] # Nested indexing of tuple. Reterving first element's first character.

'o'

In [110]:
tup4[-1] # Reterving the last element from the tuple tup4

'three'

In [111]:
tup5

('pavan', 33, (50, 100), (150, 90))

In [112]:
tup5[-1] # Retrive last item from the tuple tup5

(150, 90)

## Tuple Slicing

## Tuple Slicing

In [113]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seveen', 'eight', 'nine', 'ten')

In [114]:
mytuple[0:3] # Retrive first 3 items

('one', 'two', 'three')

In [115]:
mytuple[2:5] # Retrive elements from 2nd index to (5-1) 4th indexed elements.

('three', 'four', 'five')

In [116]:
mytuple[:2] # Retrive first two elements.

('one', 'two')

In [117]:
mytuple[-3:] # Retrive last 3 items.

('eight', 'nine', 'ten')

In [118]:
mytuple[-2:] # Retrive last 2 items.

('nine', 'ten')

In [119]:
mytuple[-1] # Retrive last item.

'ten'

In [120]:
mytuple[:] # Retrive all items from start to end

('one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seveen',
 'eight',
 'nine',
 'ten')

In [121]:
del mytuple[0] # Tuples are immutable which means we cann't DELETE tuple items.

TypeError: 'tuple' object doesn't support item deletion

In [122]:
mytuple[0] = 1 # Tuples are immutable so that we cann't CHANGE tuple items.

TypeError: 'tuple' object does not support item assignment

In [123]:
del mytuple # Deleting entire tuple object is possible

In [124]:
mutuple

NameError: name 'mutuple' is not defined

In [125]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seveen', 'eight', 'nine', 'ten')

In [126]:
mytuple

('one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seveen',
 'eight',
 'nine',
 'ten')

In [127]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seveen
eight
nine
ten

In [128]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seveen')
(7, 'eight')
(8, 'nine')
(9, 'ten')

In [129]:
'one' in mytuple

True

In [130]:
'eleven' in mytuple

False

In [131]:
if 'three' in mytuple:
    print('Three is there in the tuple')
else :
    print('Theree is not there in the tuple')

Three is there in the tuple

In [132]:
mytuple

('one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seveen',
 'eight',
 'nine',
 'ten')

## Index Positions

In [133]:
mytuple.index('one') # Finding that in which index the element 'one' is presented.

0

In [134]:
mytuple.index('hundred') # Element not exists in the tuple 'mytuple'

ValueError: tuple.index(x): x not in tuple

In [135]:
mytuple

('one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seveen',
 'eight',
 'nine',
 'ten')

In [136]:
mytuple.index('five')

4

In [137]:
mytuple.index('eight')

7

## Sorting

In [139]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [140]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple.

[6, 12, 43, 67, 67, 90, 99]

In [141]:
sorted(mytuple2, reverse=True) # Sort in descending order.

[99, 90, 67, 67, 43, 12, 6]